{% extends 'base.html' %}

{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    {% if cart_items %}
        {% for item in cart.items_list %}
            <p>{{ item.product.name }} x{{ item.quantity }}</p>
            <p>Price: ${{ item.total_price }}</p>

            <form action="{% url 'cart:update_cart_item' item.product.id %}" method="post">
                {% csrf_token %}
                <label for="id_quantity_{{ item.product.id }}">Quantity</label>
                <input type="number" name="quantity" id="id_quantity_{{ item.product.id }}" value="{{ item.quantity }}" min="1" required>
                <button type="submit">Update Quantity</button>
            </form>

            <form action="{% url 'cart:remove_from_cart' item.product.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Remove from cart</button>
            </form>
        {% endfor %}
    {% else %}
        <p>Кошик пустий!</p>
    {% endif %}
{% endblock %}
