{% extends 'base.html' %}
{% load cache %}

{% block content %}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3 border shadow-sm" style="background: linear-gradient(to bottom, #f8f9fa, #e3e6e6);">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Ласкаво просимо до нашого магазину!</h1>
                <p class="col-md-8 fs-4">Найкращі пропозиції тижня вже тут. Найрізноманітніший одяг з доставкою додому.</p>
                <a href="{% url 'product:product_list' %}" class="btn btn-amazon btn-lg">Перейти до покупок</a>
            </div>
        </div>
    </div>
{% endblock %}