{% extends "base.html" %}
{% load cache %}

{% block content %}
<div class="container">
    {% cache 900 product_detail product.id %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2>{{ product.name }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p class="text-muted">{{ product.description }}</p>
            <h3 class="text-danger">${{ product.price }}</h3>
            <p class="text-success">В наявності: {{ product.quantity }}</p>

            <form method="post" action="{% url 'cart:add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Кількість:</label>
                    <input type="number" name="quantity" value="1" min="1" max="{{ product.quantity }}" class="form-control w-25">
                </div>
                <button type="submit" class="btn btn-amazon btn-lg">Додати в кошик</button>
            </form>
        </div>
    </div>
    {% endcache %}
</div>
{% endblock %}