{% extends "base.html" %}
{% load cache %}

{% block content %}
<div class="container">
    {% cache 600 product_list_page %}
    <h1>Наші товари</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                {% cache 900 product_card product.id %}
                <h3>{{ product.name }}</h3>
                <p>${{ product.price }}</p>
                <a href="{% url 'product:product_detail' product.id %}">Переглянути деталі</a>
                {% endcache %}
            </div>
        {% empty %}
            <p>Товари відсутні.</p>
        {% endfor %}
    </div>
    {% endcache %}
</div>
{% endblock %}