{% extends 'base.html' %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Успіх!</h1>
        <p class="card-text">Дякуємо за покупку. Ваше замовлення успішно оброблено.</p>

        <p><strong>Номер замовлення:</strong> {{ order_id }}</p>
        <p><strong>Загальна сума:</strong> ${{ total_price }}</p>

        <h5>Куплені товари:</h5>
        <ul class="list-group mb-3">
            {% for item in items.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ item.product.name }} x{{ item.quantity }}</span>
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>

        <p><strong>Статус:</strong> {{ status }}</p>

        <a href="{% url 'product:product_list' %}" class="btn btn-outline-secondary me-2">Повернутись до товарів</a>
        <a href="{% url 'checkout:orders_history' %}" class="btn btn-primary">Переглянути історію замовлень</a>
      </div>
    </div>

{% endblock %}
