{% extends 'base.html' %}

{% block messages %}
    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="mb-3">Оформлення замовлення</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h5>Товари для оплати:</h5>
            {% for item in cart_items %}
                <div class="d-flex justify-content-between border-bottom py-2">
                    <div>{{ item.product.name }} x{{ item.quantity }}</div>
                    <div>${{ item.total_price }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <form action="{% url 'checkout:checkout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Оформити замовлення</button>
    </form>

{% endblock %}
